.sidebar{
    &__logo{
        max-width: 100%;
        font-size: 1.5rem;
    }

    &__widgets{
        display: flex;
        flex-direction: column;
        row-gap: 1.563rem;
    }
}

.widget{
    &__icon{
        min-height: 20px;
        min-width: 20px;
    }
}
