.sidebar{
    &__widget{
        display: flex;
        flex-direction: column;
        row-gap: 0.938rem;
        padding: 1.25rem 0.938rem;

        &-header{
            display: flex;
            align-items: center;
            column-gap: 0.625rem;
        }
    }
}

.widget{
    &__title{
        color: #464C58;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__text--small{
        font-size: 0.75rem;
        font-weight: 700;
        color: #94909B;
    }

    &__transaction{
        &-wrapper{
            display: grid;
            row-gap: 0.625rem;
            grid-template-areas:
                        "tittle value"
                        "date value";
        }

        &-tittle{
            font-weight: 700;
            grid-area: tittle;
        }

        &-date{
            grid-area: date;
        }

        &-value{
            grid-area: value;
            align-self: center;
            justify-self: end;
            font-weight: 700;

            &--positive{
                color: #18db0d;
            }

            &--negative{
                color: #EA7383;
            }
        }
    }
}
